<template>
  <div class="posting">
    <h1 class="posting__title">Отложенный постинг</h1>
    <div class="posting__body">
      <div class="posting__block posting__media">
        <media-library></media-library>
      </div>
      <div class="posting__block posting__timeline"></div>
    </div>
  </div>
</template>

<script>
  import MediaLibrary from '../media/MediaLibrary'

  export default {
    name: 'posting',
    components: {
      MediaLibrary
    }
  };
</script>

<style lang="scss" scoped>
@import '../../assets/_var.scss';

.posting {
  padding: 20px 25px 80px 35px;
  display: flex;
  flex-direction: column;
  &__title {
    font: {
      size: 26px;
      weight: 400;
    }
    letter-spacing: .5px;
    margin-bottom: 15px;
  }
  &__body {
    width: 100%;
    flex-grow: 3;
    display: flex;
  }
  &__block {
    background-color: $white;
    box-shadow: 0 2px 0 2px $shadow-color;
  }
  &__media {
    flex-grow: 1.6;
    margin-right: 35px;
    max-width: 300px;
  }
  &__timeline {
    flex-grow: 4;
  }
}
</style>
