<template>
  <div class="main-page">
    <adr-header
      :user="user"
    ></adr-header>
    <adr-sidebar></adr-sidebar>
    <posting></posting>
    <adr-modal></adr-modal>
  </div>
</template>

<script>
  import { FETCH_POSTS } from '../../vuex/types';
  import Posting from '../posts/Posting';

  export default {
    name: 'main-page',
    components: {
      Posting
    },
    computed: {
      posts() { return this.$store.state.posts.list },
      user() { return this.$store.state.user.model }
    },
    watch:{
      'user.id': {
        handler() {
          this.$store.dispatch(FETCH_POSTS, { userId: this.user.id })
        }
      }
    }
  };
</script>

<style lang="scss" scoped>
.main-page {
  display: grid;
  grid-template-columns: 18% 1fr;
  grid-template-rows: 60px 1fr;
  height: 100%;
  background: linear-gradient( to right bottom, #ffffff, #F1F7FD);
}
</style>
