<template>
  <div class="media">
    <form class="media__form" action="">
      <adr-button size="lg" @click="showModal" add>Добавить новый пост</adr-button>
      <h3 class="media__title">Моя медиа библиотека</h3>
      <adr-uploader @change="setFiles"/>

    </form>
  </div>
</template>

<script>
  import { FETCH_MEDIA, SAVE_MEDIA, CHANGE_MODAL_STATE } from '../../vuex/types';
  import AdrUploader from '../ui/AdrUploader';

  export default {
    name: 'media-library',
    computed: {
      user() { return this.$store.state.user.model },
    },
    methods: {
      getBase64(file) {
        return new Promise((resolve, reject) => {
          const reader = new FileReader();
          reader.readAsDataURL(file);
          reader.onload = () => resolve(reader.result);
          reader.onerror = error => reject(error);
        });
      },
      handleChange(evt) {
        this.setFiles(evt.target.files);
      },
      setFiles(files) {
        const file = files[0];
        this.getBase64(file).then(image => {
          this.$store.dispatch(SAVE_MEDIA, { image, userId: this.user.id });
        });
      },
      showModal() {
        this.$store.commit(CHANGE_MODAL_STATE)
      },
    },
    components: {
      AdrUploader
    },
    created() {
      this.$store.dispatch(FETCH_MEDIA, { id: this.user.id })
    }
  };
</script>

<style lang="scss" scoped>
@import '../../assets/_var.scss';

.media {
  padding: 20px 20px 0 20px;
  position: relative;
  height: 100%;
  &__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &__title {
    color: $dark-blue;
    font-size: 20px;
    margin-top: 20px;
  }
}
.media__content-img:nth-of-type(2n) {
  margin-right: 0;
}
</style>
