$button-text-size: 12px;
$modal-margin: 14px;

// colors
$red: #EB6262;
$white: #FFFFFF;
$main-blue: #42A6E3;
$second-blue: #9ED2F1;
$shadow-color: #F4F7F7;
$dark-blue: #374C61;
$pattens-blue: #DDF1FA;



