<template>
  <button
    type="button"
    @click="handleClick"
    :class="[
    `adr-button`,
    `adr-button--${type}`,
    `adr-button--${size}`
    ]"
  >
    <span v-if="add" class="adr-button__plus">+</span>
    <slot></slot>
    <slot name="suffix"></slot>
  </button>
</template>

<script>
export default {
  name: 'adr-button',
  props: {
    type: {
      type: String,
      default: 'default',
      validator(value) {
        return ['default', 'outline', 'light'].indexOf(value) > -1;
      }
    },
    size: {
      type: String,
      default: 'medium',
      validator(value) {
        return ['medium', 'lg'].indexOf(value) > -1;
      }
    },
    add: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    handleClick(evt) {
      this.$emit('click', evt);
    }
  }
};
</script>

<style lang="scss" scoped>
@import '../../assets/_var.scss';

.adr-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: none;
  min-width: 150px;
  font: {
    family: 'Ubuntu', sans-serif;
    weight: 500;
  }
  transition: 0.2s;
  cursor: pointer;
  flex-shrink: 0;
  &:hover {
    transition: 0.2s;
  }
}

.adr-button {
  &--outline {
    color: $second-blue;
    background-color: transparent;
    &:hover {
      background-color: $main-blue;
      color: $white;
    }
  }
  &--default {
    color: #fff;
    background-color: $main-blue;
    &:hover {
      background-color: darken($main-blue, 20%);
    }
  }
  &--light {
    background-color: $white;
    &:hover {
    background-color: $main-blue;
  }
  }
  &--medium {
    padding: 7px 12px 9px 10px;
    font-size: $button-text-size;
  }
  &__plus {
    line-height: 0;
  }
  &--medium &__plus {
    font-size: calc(#{$button-text-size} + 10px);
    font-weight: 100;
    margin-right: 7px;
  }
  &--lg {
    padding: 11px 14px 11px 10px;
    text-transform: uppercase;
    font-size: $button-text-size;
  }
  &--lg &__plus {
    font-size: calc(#{$button-text-size} + 8px);
    font-weight: 100;
    margin-right: 8px;
  }
}
</style>
