<template>
  <div class="adr-modal" v-show="opened">
    <div class="adr-modal__substrate" @click="closeModal"></div>
    <div class="adr-modal__body">
      <div class="adr-modal__headline">
        <h1 class="adr-modal__title">Добавить новый пост<slot name="title">{{ title }}</slot></h1>
        <button class="adr-modal__close" @click.prevent="closeModal">
          <img src="../../assets/close.png" alt="Закрыть" class="adr-modal__close-icon" />
        </button>
      </div>
      <form action="">
        <div class="adr-modal__post">
          <img src="../../assets/fjords.jpg" alt="Изображение" class="adr-modal__post-image" />
          <div class="adr-modal__post-text">
            <p class="adr-modal__post-title">Текст поста</p>
            <textarea
              rows="8"
              class="adr-modal__post-message"
              placeholder="Введите текст поста..."
            ></textarea>
          </div>
        </div>
        <div class="adr-modal__buttons">
          <button class="adr-modal__cancel" @click.prevent="closeModal">Отменить пост</button>
          <div class="adr-modal__buttons-right">
            <adr-button type="light" class="adr-modal__button">
              <datepicker :language="ru" class="adr-modal__datepicker"></datepicker>
              <div slot="suffix"><img src=""></div>
            </adr-button>
            <adr-button size="lg">Добавить пост</adr-button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import {en, ru} from 'vuejs-datepicker/dist/locale';
import { CHANGE_MODAL_STATE } from '../../vuex/types';


export default {
  name: 'adr-modal',
  props: {
    title: {
      type: String
    }
  },
  data () {
    return {
      en,
      ru
    }
  },
  computed: {
    opened() { return this.$store.state.modal.opened }
  },
  methods: {
    closeModal() {
      this.$store.commit(CHANGE_MODAL_STATE)
    }
  },
  components: {
    Datepicker
  }
};
</script>

<style lang="scss" scoped>
  @import "../../assets/_var.scss";

  .adr-modal {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    &__substrate {
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      background-color: #42718E;
      opacity: .6;
      z-index: -1;
    }
    &__body {
      min-width: 500px;
    }
    &__close {
      border: none;
      background-color: transparent;
      padding: 3px 0;
      cursor: pointer;
      &-icon {
        width: 10px;
      }
    }
    &__headline {
      display: flex;
      align-items: flex-end;
      color: $white;
      width: 100%;
      justify-content: space-between;
    }
    &__title {
      font-size: 24px;
      letter-spacing: .5px;
    }
    &__post {
      display: flex;
      align-items: flex-start;
      background: $white;
      border-radius: 2px;
      overflow: hidden;
      padding: 8px;
      margin: $modal-margin 0;
      &-image {
        width: 170px;
        height: 170px;
        object-fit: cover;
        margin-right: 10px;
      }
      &-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
      }
      &-message {
        border: none;
        resize: none;
        width: 100%;
        margin: 5px 0;
        color: #AFB9C2;
        &::placeholder {
          color: #AFB9C2;
          font-family: 'Roboto',sans-serif;
        }
        &:focus {
          outline: none;
        }
      }
    }
    &__buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &-right {
        display: flex;
      }
    }
    &__button {
      margin-right: $modal-margin;
    }
    &__cancel {
      border: none;
      background-color: transparent;
      color: $white;
      text-decoration: underline;
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
    }
  }

</style>
