<template>
  <div
    @drop.prevent.stop="handleDrop"
    @dragover.prevent.stop="hideFileList"
    @dragleave.prevent.stop="showFileList"
    @dragend.prevent.stop="showFileList"
    class="adr-uploader"
    :class="{'adr-uploader--highlight': this.highlighted}"
  >
    <!--<label for="upload" class="adr-uploader__upload">-->
      <!--<input type="file" id="upload" @change="handleChange">-->
    <!--</label>-->
    <div class="adr-uploader__content" v-if="!fileListHidden">
      <div v-for="item in media" :key="item.id">
        <img class="adr-uploader__content-img" :src="item.image" draggable="false">
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'adr-uploader',
    data() {
      return {
        highlighted: false,
        fileListHidden: false
      };
    },
    computed: {
      media() { return this.$store.state.media.list },
    },
    methods: {
      handleDrop(event) {
        this.$emit('change', event.dataTransfer.files);
        this.showFileList()
        this.highlighted = false;
      },
      highlight() {
        this.highlighted = true;
      },
      unhighlight() {
        this.highlighted = false;
      },
      showFileList() {
        this.fileListHidden = false
      },
      hideFileList () {
        this.fileListHidden = true
      }
    }
  };
</script>

<style lang="scss" scoped>
  @import '../../assets/_var.scss';

  .adr-uploader {
    flex-grow: 1;
    border: 3px dashed grey;
    height: 100%;
    display: block;
    margin: 20px 0;
    width: 100%;
    &--highlight {
      border-color: $main-blue;
    }
    &__content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
      min-height: 300px;
      max-height: 300px;
      overflow-y: scroll;
      margin: 20px -20px 0 -20px;
      padding: 0 20px 20px 20px;
      &-img {
        width: 100px;
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
  }
</style>
